/********************* Responsive ************************* */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }
.theme-toggle {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 72px;
    right: 16px;
    background: var(--dark);
    flex-direction: column;
    padding: 18px;
    border-radius: 14px;
    width: 200px;
    gap: 14px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    animation: slideDown 0.3s ease forwards;
  }

  /* SHOW menu when toggled */
  .nav-links.show {
    display: flex;
  }
  .nav-links a {
    color: #e5e7eb;
    font-size: 1rem;
    padding: 12px 14px;
    border-radius: 8px;
  }
  .nav-links a:hover {
    transform: none;
    box-shadow: none;
  }
  .brand-name {
    font-size: 1.4rem;
  }

  .profile-img {
    width: 42px;
    height: 42px;
  }
  .section h2 {
    font-size: 2.1rem;
  }
  /* ---------- HERO ---------- */
  .hero {
    height: auto;
    padding: 120px 16px 80px;
    background-attachment: scroll; /* better performance */
  }

  .hero h2 {
    font-size: 2.2rem;
  }

  .hero span {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .resume-btn {
    font-size: 1rem;
    padding: 12px 20px;
  }

  /* ---------- SECTIONS ---------- */
  .section {
    padding: 60px 0;
  }

  .section h2 {
    font-size: 2rem;
  }

  .section-sub {
    font-size: 1.05rem;
    margin: 16px;
  }

  /* ---------- SKILLS ---------- */
  .skills {
    margin: 10px 0;
    justify-content: center;
  }

  .skills span {
    font-size: 0.95rem;
    padding: 2px 10px;
  }

  /* ---------- PROJECTS ---------- */
  .project-grid {
    grid-template-columns: 1fr;
    gap: 16px;
    animation: none;

  }

  .project-card {
    font-size: 1rem;
    margin: 0;
    padding: 20px;
    transform: none !important; /* disables rotate for mobile */
  }

  /* ---------- CERTIFICATIONS & ACHIEVEMENTS ---------- */
  #certifications ul li,
  #achievements ul li {
    font-size: 1rem;
    padding: 16px;
    margin: 16px 0;
  }

  /* ---------- CONTACT ---------- */
  #contact p {
    font-size: 1.05rem;
    text-align: center;
  }

  /* ---------- FOOTER ---------- */
  .footer {
    font-size: 0.9rem;
  }

}
